body {
    font-family: sans-serif;
    color: #1e1e1e;
}

h2,
h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1;
}
h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

section {
    padding: 1rem;
    max-width: 1600px;
    margin: auto;
}

fieldset {
    /** remove the defaults **/
    padding: 0;
    border: none;
    margin-bottom: 2.5rem;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 1.125rem;
}

form div {
    margin-bottom: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding-left: 0.5rem;
    line-height: 2.5rem; /** or supplement it with height **/
}

textarea {
    min-width: 100%;
    min-height: 18.75rem;
    resize: vertical;
}

select {
    min-height: 2.5rem;
}

input[type="checkbox"] {
    width: unset; /** unsets the initial width **/
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

label[for="accept"] {
    display: inline-block;
    font-size: 1rem;
    vertical-align: text-bottom;
}

input[type="submit"] {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    width: auto;
    padding: 1rem 2rem;
    line-height: 1;
    background-color: orange;
    color: #1e1e1e;
    border: 3px solid transparent;
    transition: padding-left 1s ease;
}

input[type="submit"]:hover {
    background-color: transparent;
    border: 3px solid orange;
    padding-left: 2.5rem;
}

@media screen and (min-width: 1260px) {
    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    fieldset div {
        flex: 0 1 48%;
    }

    h3 {
        width: 100%;
    }


}

